<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
</head>

<body>

<div th:fragment="footer">

    <div class="footer">
    <div class="container">
        <div class="footer-box">
            <div class="row">
                <div class="col-4">
                    <div class="footer-leftside">
                        <p>&copy;АвтоТехноМолл</p>
                        <p>2020</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="footer-center">
                        <p>Developed by Tirpitz</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="footer-rigthside">
                        <ul class="footer-phones">
                            <li>44-576-111-6</li>
                            <li>44-576-111-6</li>
                            <li>44-576-111-6</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>

</body>
</html>