<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<div th:replace="/fragments/header :: header"/>
<title>HOME</title>
</head>
<body>
<div th:replace="/fragments/header :: heder"/>

<div class="container">
        <div class="row">
            <div class="col-8">
            <p class="tytle-home">Последние записи из базы</p>
                <div class="main-section">
                    <p>main section here</p>
                </div>
            </div>
            <div class="col-4">
                <div class="side-bar">
                    <div class="filter">
                        <p>filter been here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div th:replace="/fragments/footer :: footer"/>
<script type="text/javascript" src="../js/homescript.js"></script>
</body>
</html>